name: Rust Windows

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build
      run: cargo build --verbose

    - name: Run fmt
      run: cargo fmt --all -- --check

    - name: Run tests
      run: cargo test --verbose
